body {
  background: black;
}

.icon {
  float: right;
}

div.image {
  text-align: center;
}

h3 {
  color: white;
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 20.4px;
  text-align: center;
}


